{include file="header.html"}

<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="index"><i class="fa fa-dashboard"></i> 首页</a>
                    </li> 
					 
					<li>
                        <a href="#"><i class="fa fa-book"></i> 文章管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse show">
                            <li>
                                <a href="post" class="active-menu"><i class="fa fa-pencil"></i>文章发布</a>
                            </li>
                            <li>
                                <a href="cat"><i class="fa fa-star"></i>文章分类</a>
                            </li>
						</ul>
					</li>	
                </ul>
            </div>
</nav>

<div id="page-wrapper" style="margin-left:260px">
    <div class="header"> 
	    <ol class="breadcrumb">
			<li><a href="#">文章管理</a></li>
			<li class="active">文章发布</li>
		</ol> 
									
	</div>
    <div id="page-inner">
        <form action="doPost" method="post" id="ajax-form">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" placeholder="标题" autocomplete="on" required>
                </div>
                <div class="form-group">
	                <select class="form-control" name="class">
					  <option>PHP</option>
					  <option>随想</option>
					</select>
				</div>
                <div class="form-group">
                    <script id="container" name="content" type="text/plain"></script>
                </div>
                <div class="form-group">
                    <input type="submit" value="发布" class="btn btn-primary" id="ajax-submit">
                </div>                
        </form>
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.metisMenu.js"></script>
<script src="/static/js/custom-scripts.js"></script>
<script src="/static/umeditor/umeditor.config.js"></script>
<script src="/static/umeditor/umeditor.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/noty/jquery.noty.min.js"></script>
<script type="text/javascript">
    var um = UM.getEditor('container');
    (function(){
    	var options = {
				success:function(data,statusText){
					data = $.parseJSON(data);
					if(data.code>0){
						noty({
                            text: data.msg,
                            type: 'success',
                            layout: 'center',
                            timeout: 1000,                            
                            callback:{
                            	afterClose:function(){
                            		window.location.href = data.url;
                            	}
                            }
                        });
					}
					else{
						noty({
                            text: data.msg,
                            type: 'error',
                            layout: 'topCenter',
                            timeout: 1000,                            
                        });
					}
				}
		}
		$('#ajax-form').submit(function(){
			$(this).ajaxSubmit(options);
			return false;
		});
    	
    })();
</script>
</div>
</body>
</html>